body{
    margin: 0;
	padding: 0;
	
    background-color: black;
}

h1{
    font-family: 'Lobster', cursive;
    color: antiquewhite;
    margin-left: 570px;
    margin-top: 10px;
    
}

ul{
    list-style: none;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

nav{
	text-align: center;
}

nav a{
	color: antiquewhite;
}

nav ul li{
    display: inline;
}

a:link{
	text-decoration: none;
	padding: 10px;
}

a:hover{
font-weight: bold;
}

/*portfolio_section*/
.portfolio_section{
  padding: 0 7%;
}

.one-third{
	width: 33.333333%;
	/* float: left; */
	text-align: center;
  margin-top: 20px;
  padding: 1.4% 7%;

}

.icon-wrap{
	margin: 0 auto;
	width: 180px;
	height: 180px;
	border-radius: 125%;
	text-align: center;
	background-color: white;
	margin-top: 15%;
	margin-bottom: 15%;
	margin-left: 580px;
}


img{
	margin-top: 23px;
}

.intro{
	text-align: center;
}

h2{
	color: whitesmoke;
	font-family: 'Oxygen', sans-serif;
}

.myname{
	font-family: 'Monoton', cursive;
	color: #C70039;
}

h3{
	color: whitesmoke;
	font-family: 'Oxygen', sans-serif;
}

.wer{
	font-family: 'Audiowide', cursive;
	color: blue;
}

/*social_media*/

.social_media{
	text-align: center;
	font-size: 40px;
  margin-top: 50px;
  
	
}

/* .social_media2{
  text-align: center;
  font-size: 40px;
  margin-top: 30px;

  
} */

i{
	padding: 10px;
}

#fb{
	color: blue;
}

#insta{
	color: #C70039;
}

#you{
	color: aqua;
}

footer{
  
	padding: 42px;
	background: #4C4949;
}

footer:hover{
  background: #C70039;
}

/*about section*/
.about_section{
  padding: 0.8%;
}

#images{
	float: left;
}

.about_pic{
	float: left;
}

#sidebar{
	float: right;
	width: 48%;
	height: auto;
	padding-right: 8%;
   }

   .gray{
	padding: 15px;
	background: #AED6F1;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 10px;
}

.media2{
  margin-top: 431px;
}

/*projects section*/

.project_section{
  padding: 0.9% 9%;
  
}

#social{
	margin-top: 428px;
}
.images{
	float:right;
	padding: 20px ;
	margin-right: 75px;

}

/*Contact section*/
.contact_section{
 padding: 1.2% 8%;
}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*Gallery Image Slider , Light Box*/

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*contact section*/
#contact_section{
  margin-top: 75px;
}


.display-none{
  display: none;
}
.fill{
  display: block;
  width: 100%;
}
textarea{
  resize: vertical;
}

@media screen and (max-width: 768px){

   h1{
    margin-left: 30px;
    text-align: center;
    position: relative;
    height: 90px;
   }

   .icon-wrap{
    margin-left: 165px;
    text-align: center;
    
   }

   .images{
    float: none;
    text-align: center;
    width: 10%;
    margin-top: -70px;
    margin-left: 110px;
    margin-bottom: -70px;
   
   }

   .social_media2{
    text-align: center;
    font-size: 40px;
    margin-bottom: -10px;
    margin-top: -400px;
  
   }

 .gray{
   text-align: center;
   margin-left: -110px;
   float: none;
   width: 100%;
   height: 20%;
   margin-top: 10%;
   margin-bottom: 200px;
 }

 .media2{
  text-align: center;
  margin-top: 368%;
  
 }


}